{% extends "base.html" %}

{% block title %}Impressum – Noorhaus{% endblock %}

{% block body_class %}legal-view{% endblock %}

{% block content %}
<section class="section legal-page legal-page-transparent">
  <h1 class="section-title">Impressum</h1>

  <div class="legal-content">
    <p>
      Noorhaus Coffee & Breakfast<br>
      Kleine Budengasse 1-3<br>
      50667 Köln<br>
      Deutschland
    </p>

    <p>
      Handelsregister:<br>
      Amtsgericht Köln<br>
      HRB 111075
    </p>

    <p>
      Umsatzsteuer-ID gemäß §27a UStG:<br>
      DE 287320261
    </p>
    <p>
      Vertreten durch:<br>
      Bich Nhung Schmitz<br>
      Schmitz Gastronomie Event GmbH
    </p>

    <p>
      Kontakt:<br>
      E-Mail: kontakt.schmitzgastronomiegmbh
    </p>

    <p>
      Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV:<br>
      Burak Schmitz Ensan<br>
      Xantener Str. 1<br>
      50733 Köln
    </p>
  </div>
</section>
{% endblock %}